<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Date</th>
        <th>Total Sum</th>
        <th>Details</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doc : ${documents}">
        <td th:text="${doc.id}"></td>
        <td th:text="${doc.docNumber}"></td>
        <td th:text="${doc.docDate}"></td>
        <td th:text="${doc.totalSum}"></td>

        <!-- Проверка наличия деталей -->
        <td>
            <div th:if="${doc.details != null and not #lists.isEmpty(doc.details)}">
                <table style="border: 1px solid black; width: 100%; margin-top: 10px;">
                    <thead>
                    <tr>
                        <th style="border: 1px solid black;">id</th>
                        <th style="border: 1px solid black;">name</th>
                        <th style="border: 1px solid black;">sum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="detail : ${doc.details}">
                        <td th:text="${detail.id}" style="border: 1px solid black;"></td>
                        <td th:text="${detail.itemName}" style="border: 1px solid black;"></td>
                        <td th:text="${detail.itemSum}" style="border: 1px solid black;"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${doc.details == null or #lists.isEmpty(doc.details)}">
                <span>No specifications available.</span>
            </div>
        </td>

        <td>
            <form th:action="@{/documents/{id}/edit(id=${doc.id})}" method="get">
                <button type="submit">Edit</button>
            </form>
            <form th:action="@{/documents/{id}/delete(id=${doc.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>

    </tbody>
    <a th:href="@{/documents/new}">Add Document</a>
</table>